@{    
    var coursenameInput = "";
    var dateInput = "";
    var passwordInput = "";

    var db = Database.Open("102547-concepttest");
    var selected = db.Query("SELECT * FROM T_Course");
    
    var grid = new WebGrid(source: selected, rowsPerPage: 3);

    if(IsPost && Validation.IsValid())
    {
        Validation.RequireField("date", "You must submit a Date");
        Validation.RequireField("password", "You must submit a Password");
        
        coursenameInput = Request.Form["course_name"];        
        dateInput = Request.Form["date"];
        passwordInput = Request.Form["password"];

        var addCommand = "INSERT INTO T_Lecture (date, course_id, password) VALUES (@0, @1, @2)";
        db.Execute(addCommand, dateInput, coursenameInput, passwordInput);
    }
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
    <h1>
    Add a new Lecture:
    </h1>
    <h3>
    Please fill in the fields below and click "Submit" to continue.
    </h3>

        <form method="post">
            Course name:
            <select id="course_name" name="course_name" style="margin-left: 40px" >
                <option value="">-- Select Course --</option>
                @foreach(var category in selected){
                    <option value="@category.id">@category.course_name</option>
                }
            </select>
            <p>
            Date (yyyy-mm-dd):
            <input type="text" name="date" value="" size="16" />
            @Html.ValidationMessage("date")
            </p>
            <p>
            Password:
            <input type="text" name="password" value="" size="16" style="margin-left: 60px" />
            @Html.ValidationMessage("password")
            </p>
            <input type="Submit" name="Submit" value="Submit" />
        </form>
    </body>
</html>