@{
    var pageTitle = "Add user";

    var usernameInput = "";
    var passwordInput = "";
    var nameInput = "";

    if(IsPost) {
        usernameInput = Request.Form["username"];
        passwordInput = Request.Form["password"];
        nameInput = Request.Form["name"];

        var db = Database.Open("concept_test") ;
        var insertCommand = "INSERT INTO [User] (username, password, name) VALUES(@0, @1, @2)";
        db.Execute(insertCommand, usernameInput, passwordInput, nameInput);
    }
    
    
    //var selectedData = db.Query("SELECT * FROM [User] WHERE username = @0", usernameInput);
    //var grid = new WebGrid(source: selectedData);

}



<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="StyleSheet.css">
        <title>@pageTitle</title>
    </head>
    <body>
        <form method="post">
            <div class="bord">
                <h1>Add user</h1>
                <p>Username: <input type="text" name="username" maxlength="30"></p>
                <p>Password: <input type="password" name="password" maxlength="30"></p>
                <p>Name: <input type="text" name="name" maxlength="30"></p>
                <p><input type="submit" value="Add user"></p>
            </div>
        </form>
        <div>
            <p>@usernameInput</p>
            <p>@passwordInput</p>
            <p>@nameInput</p>
        </div>
    </body>
</html>
