@{
    var db = Database.Open("concept_test");
    var usernameInput = Request.Form["username"];
    var passwordInput = Request.Form["password"];
    var success = "";

    var checkInput = db.QueryValue("SELECT COUNT(*) FROM [User] WHERE username = @0 AND password = @1", usernameInput, passwordInput);
    if(IsPost) {
         if(checkInput != 0) {
            success = "Success";
        }
        else {
            success = "Invalid username/password";
        }
    }
       
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Login Page</title>
    </head>
    <body>
        <form method="post">
            <div>
                <label for="Username">Username:</label>
                <input type="text" name="username" value="" />
                <br/>
                <label for="Password">Password</label>
                <input type="password" name="password" value="" />
                <br/>
                <input type="Submit" value="Login" />
            </div>
        </form>
        @success
    </body>
</html>
