@{
    var pageTitle = "Login";   
    var usernameInput = "";
    var passwordInput = "";
    var errorMessage = "";
    var redirect = "~/dashboard.cshtml";
        
    Validation.RequireField("username", "You must enter a username!");
    Validation.RequireField("password", "You must enter a password!"); 
    
    if(IsPost && Validation.IsValid()) {
        usernameInput = Request.Form["username"];
        passwordInput = Request.Form["password"];
        var db = Database.Open("102547-concepttest");
        string pwhash = FormsAuthentication.HashPasswordForStoringInConfigFile(passwordInput, "sha1");
        var checkInput = db.QueryValue("SELECT COUNT(*) FROM T_User WHERE username = @0 AND password = @1", usernameInput, pwhash);
        if(checkInput != 0) {
            int userId = db.QueryValue("SELECT id FROM T_User WHERE username = @0 AND password = @1", usernameInput, pwhash);
            Session["id"] = userId;
            Response.Redirect(redirect);
        }
        else {
            errorMessage = "Invalid username/password";
        }
    }
       
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="StyleSheet.css">
        <title>@pageTitle</title>
    </head>
    <body>
        <form method="post">
            <div>
                <label for="Username" >Username:</label>
                <input type="text" name="username" value="" />
                <br/>
                <label for="Password">Password:</label>
                <input type="password" name="password" value="" />
                <br/>
                <input type="Submit" value="Login" />
                <p><a href="Default.cshtml">Back to front page</a></p>
            </div>
        </form>
        @errorMessage
    </body>
</html>
