@{
    //Och vad händer om jag editar här då?
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
<<<<<<< HEAD
        <title>AMAL ÄR BÄST + FUCK YOU GIT</title>
=======
<<<<<<< HEAD
        <title>Git Test</title>
=======
        <title>FUCK YOU GIT</title>
>>>>>>> b8ee219c81adf720345a411ec10f2ec4c603f8a9
>>>>>>> 9cd08273e592a7db87880ff02b65ea0eb2186d47
    </head>
    <body>
        
    </body>
</html>
