@{
    //Och vad händer om jag editar här då?
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>AMAL ÄR BÄST</title>

    </head>
    <body>
        <h2>OCH pengar växer på träd</h2>
        
    </body>
</html>
