<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="Server=mysql02.citynetwork.se;Database=102547-concepttest;Uid=102547-sj11046;Pwd=qwerty12345" name="102547-concepttest" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
